<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Teko' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Crowdsourcing data about which residential buildings do not have recycling in Chicago">
    <title>My Building Doesn&#039;t Recycle!</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="/css/recycling.css" rel="stylesheet">
  </head>
  <body>
    <nav id='main_nav' class="navbar navbar-default navbar-style" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-type navbar-brand" href="/">My Building Doesn&#039;t Recycle!</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class='<%= navActive.getinvolved %>' href="/get-involved">Get Involved</a></li>
                    <li><a class='<%= navActive.wards %>' href="/wards">Wards</a></li>
                    <li><a class='<%= navActive.about %>' href="/about">About</a></li>
                    <li><a class='<%= navActive.press %>'href="/press">Press</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Admin</h1>
                <ul>
                    <% for(var i = 0; i < reports.length; i++) { %>
                        <% var report = reports[i]; %>
                        <li><%= report.comment %></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>
