<div class="input-group">
  <input type="text" class="form-control" id="addressSearch" readonly>
  <span class="input-group-btn">
    <a href="/" class="btn btn-default" type="button"><i class="start-over close-dialog fa fa-close"></i></a>
  </span>
</div>

<hr/>

  <% if (reportCount > 0) { %>
    
    <h2>
      <span class='reported-address'><%= formattedAddress %></span>
      <strong>does not recycle!</strong>
    </h2>
    <p class="form-group report-count">
      <%= reportCount %> <%= reportCount == 1 ? 'person reports ' : 'people report '%><strong>NO</strong> recycling
    </p>

  <% } else { %>
    
    <p>
      No reports for
      <span class='reported-address'>
        <%= formattedAddress %>
      </span>
    </p>
    <div class="form-group">
      <span>Be the first to report NO recycling in your building</span>
    </div>
  <% } %>

  <% if (comments.length) { %>
  <div>
    <h4>Resident Comments:</h4>
    <% for (var i=0; i<comments.length; i++) { %>
      <% var comment = comments[i]; %>
      <blockquote class='comment'>"<%= comment %>"</blockquote>
    <% } %>
  </div>
  <% } %>
  
  <h2>Submit a Report</h2>
  <p>This report is not official, it's just so we can map out all the places that should be recycling.</p>
  
  <form role="form" id="getOnMapForm">

    <input type='hidden' name='latitude' value='<%= latitude %>' />
    <input type='hidden' name='longitude' value='<%= longitude %>' />

    <div class='form-group'>
      <label class='control-label'>Comment (optional)</label>
      <textarea class='form-control' name='comment' id='comment'></textarea>
    </div>

    <input name='submit' type="submit" value="Share Your Report" class="btn btn-info btn-block" >
  
  </form>
