<% include ../_header %>
<div class="container">
  <div class="row">
    <div id='static_page_main' class='col-sm-8'>
      <h2>Reports by Ward</h2>

      <div class="table-responsive">
        <table class='table' id='reports_by_ward'>
          <thead>
            <tr>
              <th class='ward'>Ward</th>
              <th class='alderman'>Alderman</th>
              <th class='phone'>Phone</th>
              <th class='addresses'><a href="#" data-sort="addresses"><i class="fa fa-sort sortable"></i> Addresses</a></th>
              <th class='reports'><a href="#" data-sort="reports"><i class="fa fa-sort sortable"></i> Reports</a></th>
            </tr>
          </thead>
          <tbody>
        <% for (var i=0; i<wards.length; i++) { %>
          <% var ward = wards[i] %>
          <tr>
            <th class='ward'>
              <%= ward.number %>
            </th>
            <td class='alderman'>
              <%= ward.alderman.name %>
            </td>
            <td class='phone'><%= ward.alderman.phone %></td>
            <td class='addresses'><%= ward.locationCount %></td>
            <td class='reports'><%= ward.reportCount %></td>
            <td class='details'>
              <a href='/wards/<%= ward.number %>'>
                View details
              </a>
            </td>
          </tr>
        <% } %>
        </tbody>
        </table>
      </div><!-- .table-responsive -->
    </div>

    <div class="col-sm-4">
      <!-- Map wrapper -->
    </div>
    <div id="static_page_sidebar" class="col-sm-4">
      <% include ../_sidebar_blocks/press %>
      <% include ../_sidebar_blocks/mc_signup_form %>
    </div>
  </div>
</div>

<div class="container">
  <% include ../_colophon %>
</div>
<% include ../_footer %>