<%- include ("../_header") %>
<div class="container">
  <div class="row">
    <div id='static_page_main' class='col-sm-6'>
      <h1>Wards</h1>
      <p>
      The city of Chicago is divided into 50 wards. Each ward is represented by an elected alderman.
      These 50 aldermen make up the city council, which is the legislative body of the city of Chicago.
      City Council meets monthly and is presided over by Rahm Emanuel, the Mayor of Chicago.
      </p>
      <h2>Reports by Ward</h2>
      <p>The following table shows the total number of resident reports for each ward, as well as how many unique building addresses are reported.</p>
      <div class="table-responsive">
        <table class='table' id='reports_by_ward'>
          <thead>
            <tr>
              <th class='ward'>Ward</th>
              <th class='alderman'>Alderman</th>
              <th class='addresses'><a href="#" data-sort="addresses"><i class="fa fa-sort sortable"></i> Addresses</a></th>
              <th class='reports'><a href="#" data-sort="reports"><i class="fa fa-sort sortable"></i> Reports</a></th>
            </tr>
          </thead>
          <tbody>
        <% for (var i=0; i<wards.length; i++) { %>
          <% var ward = wards[i] %>
          <tr>
            <th class='ward'>
              <%= ward.number %>
            </th>
            <td class='alderman'>
              <%= ward.alderman.name %>
            </td>
            <td class='addresses'><%= ward.locationCount %></td>
            <td class='reports'><%= ward.reportCount %></td>
            <td class='details'>
              <a href='/wards/<%= ward.number %>'>
                View details
              </a>
            </td>
          </tr>
        <% } %>
        </tbody>
        </table>
      </div><!-- .table-responsive -->
    </div>
    <div id="static_page_sidebar" class="col-sm-6">
      <div id="wards-map"></div>
      <h3 class="pull-right">Chicago's 50 Wards</h3>
    </div>
  </div>
</div>

<div class="container">
  <%- include ("../_colophon") %>
</div>
<%- include ("../_footer") %>
<script type="text/javascript">
    if ($('#wards-map').length) {
      var map = L.map('wards-map', {
        maxZoom: 20
      }).setView([41.8369, -87.6847], 10);
    L.tileLayer('http://api.tiles.mapbox.com/v4/smartchicagocollaborative.l45jl5j8/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic21hcnRjaGljYWdvY29sbGFib3JhdGl2ZSIsImEiOiJ5MzB1MHFNIn0.190SObdn-P8VvOWu7AQvVA', {
      maxZoom: 18,
      attribution: 'Imagery &copy; <a href="http://mapbox.com">Mapbox</a>'
    }).addTo(map);
    L.geoJson(<%- JSON.stringify(features); %>, {
      style: {
        color: '#258',
        weight: 1
      }
    }).addTo(map);
    }
</script>
