<% include ../_header %>
<div class="container">
  <div class="row">
    <div id='static_page_main' class='col-sm-8'>

      <p>
        <a class='btn btn-default' href="/wards">&larr; Back to Wards</a>
      </p>

      <h2>Reports for Ward <%= ward.number %></h2>

      <dl class='alderman-info'>
        <dt>Alderman <%= ward.alderman.name %></dt>
        <dd>Phone: <%= ward.alderman.phone %></dd>
        <dd>Email: <a href='mailto:<%= ward.alderman.email %>'><%= ward.alderman.email %></a></dd>
        <dd>Total Reports: <%= ward.reportCount %></dd>
      </dl>


      <hr>

      <div class="location-list">
        <div class="row">
          <h3 class='col-sm-8'>Reported Locations</h3>
        </div>

        <div class="clear"></div>

        <% for (var i=0; i<ward.locations.length; i++) { %>
          <% var location = ward.locations[i] %>
          <div class="location row">
            <div class="col-sm-8">
              <a href='/#/reports/<%= location._id %>'>
              <%= location.address.trim() %>
              </a>
            </div>
            <div class="col-sm-4">
              <%= location.reports.length %>
              <%= location.reports.length > 1 ? 'reports' : 'report' %>
            </div>
          </div>
        <% } %>

        <% if (ward.locations.length == 0) { %>
        <p>No reports yet in this ward.</p>
        <% } %>
      </div>
    </div>

    <div id="static_page_sidebar" class="col-sm-4">
      <div id="ward-map"></div>
    </div>
  </div>
</div>

<div class="container">
  <% include ../_colophon %>
</div>
<% include ../_footer %>

<script type="text/javascript">
    if ($('#ward-map').length) {
      var map = L.map('ward-map', {
        maxZoom: 20
      }).setView([41.881, -87.629], 11);
      L.tileLayer('http://api.tiles.mapbox.com/v4/smartchicagocollaborative.l45jl5j8/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic21hcnRjaGljYWdvY29sbGFib3JhdGl2ZSIsImEiOiJ5MzB1MHFNIn0.190SObdn-P8VvOWu7AQvVA', {
        maxZoom: 18,
        attribution: 'Imagery &copy; <a href="http://mapbox.com">Mapbox</a>'
      }).addTo(map);
      L.geoJson(<%- JSON.stringify(ward.geometry) %>).addTo(map);
    }
</script>
